<div class="pic-back-choise" style="background-image: url(<%= asset_path 'purpose-back4.jpeg' %>); margin-top: 5%">
  <div class="container" style="margin-top: -10%">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold text-center" style="color: white; line-height: 20px; font-size: 350%; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Purpose of visit:</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 15%">
      <% @type[:operations].each do |op, index| %>
        <div class="col-md-4" style="margin-bottom: 150px">
          <div class="panel sharp-pan pic-pan-choise" style="background: #001f3f"><a href="<%= next_wizard_path(place_type: params[:place_type], purpose: op.parameterize)%>"><h1 class="logo-font box-font-choise text-center" style="font-size:250%; line-height: 100px"><%= op %></h1></a>
          </div>
        </div>
      <% end %>      
    </div>
  </div>
</div>


